.shopGrid {
  display: grid;
  width: 100%;
  padding: 5px;
  padding-bottom: 50px;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
